#contact {
  //background-color: rgb(93, 218, 176);
  //padding-top: 200px;
  height: 70vh;
  display: flex;
  color: #033060;
}

#contactContent {
  margin: auto;
  //border: 2px solid red;
}

p {
  font-weight: bolder;
}
