<!-- About Section -->
<section class="page-section" id="about">
  <div class="container" id="aboutContainer">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-12 text-center" id="aboutContent">
        <h2 class="mt-0">Meet the Team</h2>
        <hr class="divider light">
        <h4 class=" mb-4">We are a team of Tech and Business Personnel to solve the Real time problems.</h4>
        <hr class="divider light">
        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->


        <!-- Header -->
        <!-- <header class="bg-primary text-center py-5 mb-4">
          <div class="container">
            <h1 class="font-weight-light text-white">Meet the Team</h1>
          </div>
        </header> -->

        <!-- Page Content -->
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../../assets/RecuAI-13.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Purna Baral</h5>
                  <div class="card-text"><span class="badge badge-info">Full-Stack Developer</span></div>
                  <a href="https://www.linkedin.com/in/purna-baral"><i class="fab fa-linkedin fa-2x mb-3"></i></a>
                </div>
              </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../../assets/RecuAI-18.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Prashant Mahato</h5>
                  <div class="card-text"><span class="badge badge-info">ML & AI Developer</span></div>
                  <a href="https://www.linkedin.com/in/prashant-mahato"><i class="fab fa-linkedin fa-2x mb-3"></i></a>
                </div>
              </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../../assets/RecuAI-4.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Pradeep Neupane</h5>
                  <div class="card-text"><span class="badge badge-info">ML & AI Developer</span></div>
                  <a href="https://www.linkedin.com/in/pradipturku"><i class="fab fa-linkedin fa-2x mb-3"></i></a>
                </div>
              </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../../assets/RecuAI-6.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Ganga Lingden</h5>
                  <div class="card-text"><span class="badge badge-info">ML & AI Developer</span></div>
                  <a href="https://www.linkedin.com/in/ganga-lingden"><i class="fab fa-linkedin fa-2x mb-3"></i></a>
                </div>
              </div>
            </div>

            <!-- Team Member 5 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../../assets/ville-1.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Ville Tynys</h5>
                  <div class="card-text"><span class="badge badge-info">Business Developer</span></div>
                  <div class="card-text">+358 408270599</div>
                  <a href="https://www.linkedin.com/in/villetynys"><i class="fab fa-linkedin fa-2x mb-3"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <div class="row justify-content-center align-items-center">
        </div>
      </div>
    </div>
  </div>
</section>
