<!-- Services Section -->
<section class="page-section" id="services">
  <div class="container" id="serviceContent">
    <h2 class="text-center text-white mt-0">At Your Service</h2>
    <hr class="divider my-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-mail-bulk text-white mb-4"></i>
          <h3 class="h4 text-white mb-2">Email Automation</h3>
          <hr class="divider">
          <p class="text-white mb-0">Our intelligent solution sends Automated Email reply to the Customer Emails.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-chart-line text-white mb-4"></i>
          <h3 class="h4 text-white mb-2">Text Analysis</h3>
          <hr class="divider">
          <p class="text-white mb-0">We do Text Analysis by utilizing Natural Language Processing Algorithms.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-map-signs text-white mb-4"></i>
          <h3 class="h4 text-white mb-2">Email Routing</h3>
          <hr class="divider">
          <p class="text-white mb-0">Our solution analyzes the customer Email queries and routes them to the
            respective department inside the Company.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-globe text-white mb-4"></i>
          <h3 class="h4 text-white mb-2">Ready to Publish</h3>
          <hr class="divider">
          <p class="text-white mb-0">You can use our solution as is, or we can customize according to your
            necessities.</p>
        </div>
      </div>
    </div>
  </div>
</section>
